body {
	font-family: Chivo, sans-serif;
	position: relative;
	height: auto;
	min-height: 100% !important;
}
.wellness {
	background-color: #FFFDF1;
	color: #3F3D3D;
}
.travel {
	background-color: #E8F4EA;
}

/* SIDEBAR */
.sidebar {
	width: 10%;}

.content {
	width: 70%;
}
.page-title a {
	text-decoration: none;
	color: #3F3D3D;
}
.page-title a:hover {
	text-decoration: underline;

}
.page-container {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.sidebar-trademark {
	margin-top: 80px;
	opacity: 40%;
}
.sidebar-links a {
	color: black;
	text-decoration: none;
	line-height: 30px;
	opacity: 0.3;
}
.sidebar-links .chosen-link {
	font-weight: 700;
	opacity: 1;
}
.sidebar-links a:hover {
	text-decoration: underline;
}

.page-title {
	font-weight: 900;
	font-size: 22px;
	margin-bottom: 50px;
	margin-top: 25px;
}
.vertical-line {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin-left: 40px;
	margin-right: 40px;
}


/* CONTENT */
.yellowlight {
	/*background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #F5E486 65%);*/
	background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #FDDD5C 65%);

}

.greenlight {
	background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #B8D8BE 65%);
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.photo-container {
	width: 48%;
	margin-bottom: 20px;
	position: relative;
}

@media only screen and (max-width: 768px) {
  .photo-container {
    width: 100%;
  }
}

.photo-container img, .single-photo-container img {
	width: 100%;
}
.single-photo-container {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.intro {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: justify;
}

.caption {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFDF1;
	opacity: 90%;
	padding: 10%;
	box-sizing: border-box;
}

.photo-container:hover .caption, .single-photo-container:hover .caption, .main .caption {
	visibility: visible;
}

.main .caption:hover {
	background-color: transparent;
}

.masthead {
	opacity: 60%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* Main (index) */
.main .caption {
	font-size: 30px;
	color: black;
}

/* Travle & Outings */
.flex-container {
	display: flex;
}
.column .photo-container {
	width: 90%;

}
.travel .caption {
	background-color: #E8F4EA;
}
@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .photo-container {
	width: 100%;
}